@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #0066cc;
  --color-muted: #e5e5e5;
  background-color: black;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #0066cc;
  --color-muted: #e5e5e5;
}

.dark {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #66ccff;
  --color-muted: #1e1e1e;
}

/* fade out */
.runway-stripe-mask {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.filter-blue{
  filter: invert(13%) sepia(93%) saturate(4164%) hue-rotate(232deg) brightness(106%) contrast(113%);
}

